<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="event_modal" th:remove="tag">


    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Event:</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <tr>
                            <th>ID:</th>
                            <td><span th:text="${event.getId()}"/></td>
                        </tr>
                        <tr>
                            <th>Date & Time</th>
                            <td><span th:text="${event.getDateTime()}"/></td>
                        </tr>
                        <tr>
                            <th>Source Address:</th>
                            <td><span th:text="${event.getSourceAddress()}"/></td>
                        </tr>
                        <tr>
                            <th>Dest Adress:</th>
                            <td><span th:text="${event.getDestAddress()}"/></td>
                        </tr>
                        <tr>
                            <th>Protocol:</th>
                            <td><span th:text="${event.getProtocol()}"/></td>
                        </tr>
                        <tr>
                            <th>Dest Port:</th>
                            <td><span th:text="${event.getDestPort()}"/></td>
                        </tr>
                        <tr>
                            <th>Flag:</th>
                            <td><span th:text="${event.getFlag()}"/></td>
                        </tr>
                        <tr>
                            <th>Summary:</th>
                            <td><span th:text="${event.getSummary()}"/></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>
