<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Events')">

</head>
<body>
<div class="d-flex bg-warning text-white" style="height:10vh">
    <div class="container-fluid pl-5 my-auto">
        <h1><a href="/" style="color:inherit">home</a> / dashboard</h1>
    </div>
</div>
<div class="d-flex" style="height:90vh">
    <div class="container-fluid pt-1 text-center" id="dashFragment">
        <a href="/events">
            <div class="circle mx-auto my-5" th:style="'background-color: '+${colour}"></div>
            <div th:if="${colour.equals('green')}" class="container">
                <h3 style="text-decoration: none; color: black">No unsual activity detected on the honeypot</br>Click to view events</h3>
            </div>
            <div th:if="${colour.equals('orange')}" class="container">
                <h3 style="text-decoration: none; color: black">Some unusual activity detected on the honeypot, inspect the logs and follow the guidebook</br>Click to view events</h3>
            </div>
            <div th:if="${colour.equals('red')}" class="container">
            <h3 style="text-decoration: none; color: black">Major activity detected on the honeypot! Act immediately!</br>Click to view events</h3>
            </div>
        </a>
    </div>
</div>



<div th:replace="fragments/footer :: footer">...</div>

</body>

<footer>
    <script>
        function updateDash() {
            $.get({
                url : "/dash_fragment",
                success : function (fragment) { // get from controller
                    $("#dashFragment").replaceWith(fragment); // update snippet of page
                }
            });
        };
        setInterval(updateDash, 2000);
    </script>
</footer>
</html>