<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Events')">
</head>
<body>
<div class="d-flex bg-warning text-white" style="height:10vh">
    <div class="container-fluid pl-5 my-auto">
        <h1><a href="/" style="color:inherit">home</a> / dashboard</h1>
    </div>
</div>
<div class="d-flex" style="height:90vh">
    <div class="embed-responsive d-none d-lg-block">
        <div id="eventListFragment" class="container-fluid pt-1">
            <div class="row justify-content-center pt-1">
                <div class="col-2">
                    <h3>Filters:</h3>
                    <form action="#" th:action="@{/events/filter}" th:object="${filter}" method="post">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Protocol</span>
                            </div>
                            <input th:field="*{protocol}" type="text" class="form-control" placeholder="Protocol" aria-label="Protocol" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Source Address</span>
                            </div>
                            <input th:field="*{sourceAddress}" type="text" class="form-control" placeholder="Source Address" aria-label="Source Address" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Destination Address</span>
                            </div>
                            <input th:field="*{destAddress}" type="text" class="form-control" placeholder="Destination Address" aria-label="Destination Address" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Port</span>
                            </div>
                            <input th:field="*{destPort}" type="text" class="form-control" placeholder="Port" aria-label="Port" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Flag</span>
                            </div>
                            <input th:field="*{flag}" type="text" class="form-control" placeholder="Flag" aria-label="Flag" aria-describedby="basic-addon1">
                        </div>
                        <input type="submit" value="Submit" />
                    </form>
                </div>
                <div class="col-8">
                    <div th:if="${events.isEmpty()}" class="container text-center">
                        <h2 class="pt-5 pb-3">There are no events</h2>
                    </div>
                    <div th:unless="${events.isEmpty()}">
                        <div class="container-fluid overflow-auto">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date & Time</th>
                                    <th>Source Address</th>
                                    <th>Dest Address</th>
                                    <th>Protocol</th>
                                    <th>Flag</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tr th:each="event: ${events}">
                                    <td><span th:text="${event.getId()}"/></td>
                                    <td><span th:text="${event.getDateTime()}"/></td>
                                    <td><span th:text="${event.getSourceAddress()}"/></td>
                                    <td><span th:text="${event.getDestAddress()}"/></td>
                                    <td><span th:text="${event.getProtocol()}"/></td>
                                    <td><span th:text="${event.getFlag()}"/></td>
                                    <td>
                                        <a role="button" class="btn btn-warning"
                                           th:href="@{'/event/'+${event.getId()}}" target="_blank">
                                            i
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center mx-auto my-auto d-block d-lg-none">
        <h1>Your screen is too small, please view on a larger screen</h1>
    </div>
</div>
<div class="container">
    <button type="button" class="btn btn-warning" onclick="updateEventListFragment()">refresh
    </button>
</div>


<div th:replace="fragments/footer :: footer">...</div>

</body>
<footer>
    <script>
        function updateEventListFragment() {
            $.get("event_list_fragment", function (fragment) { // get from controller
                $("#eventListFragment").replaceWith(fragment); // update snippet of page
            });
        };
        // setInterval(updateEventListFragment, 5000);
    </script>
</footer>
</html>