<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Events')">
</head>
<body>
<div class="d-flex bg-warning text-white" style="height:10vh">
    <div class="container-fluid pl-5 my-auto">
        <h1><a href="/" style="color:inherit">home</a> / <a href="/dashboard" style="color:inherit">dashboard</a> / events</h1>
    </div>
</div>
<div class="row justify-content-center pt-3">
    <div class="col-3">
        <h3>Filters:</h3>
        <form action="#" th:action="@{/events/filter}" th:object="${filter}" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Protocol</span>
                </div>
                <input th:field="*{protocol}" type="text" class="form-control" aria-label="Protocol" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Source Address</span>
                </div>
                <input th:field="*{sourceAddress}" type="text" class="form-control"  aria-label="Source Address" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Dest Address</span>
                </div>
                <input th:field="*{destAddress}" type="text" class="form-control" aria-label="Destination Address" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Port</span>
                </div>
                <input th:field="*{destPort}" type="text" class="form-control" aria-label="Port" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Flag</span>
                </div>
                <input th:field="*{flag}" type="text" class="form-control" aria-label="Flag" aria-describedby="basic-addon1">
            </div>
            <input type="submit" class="btn btn-warning btn-block" value="Submit" />
            <a href="/events" class="btn btn-warning btn-block">Clear</a>
            <button type="button" class="btn btn-warning btn-block" th:onclick="'javascript:updateEventListFragment();'">Refresh
            </button>
        </form>
    </div>
    <div id="eventListFragment" class="col-8 pt-1" style="height: 90vh; overflow:auto">
        <div th:if="${events.isEmpty()}" class="container text-center">
            <h2 class="pt-5 pb-3">There are no events</h2>
        </div>
        <table class="table" th:unless="${events.isEmpty()}">
            <thead>
            <tr>
                <th>Flag</th>
                <th>Date & Time</th>
                <th>Source Address</th>
                <th>Dest Address</th>
                <th>Protocol</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="event: ${events}">
                <td class="align-middle"><div class="flag" th:style="'background-color:'+${event.getFlag()}"></div></td>
                <td class="align-middle"><span th:text="${event.getDateTime()}"/></td>
                <td class="align-middle"><span th:text="${event.getSourceAddress()}"/></td>
                <td class="align-middle"><span th:text="${event.getDestAddress()}"/></td>
                <td class="align-middle"><span th:text="${event.getProtocol()}"/></td>
                <td class="align-middle">
                    <a role="button" class="btn btn-warning text-white"
                       th:href="@{'/event/'+${event.getId()}}" target="_blank">
                        ⓘ
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="container-fluid text-center mx-auto my-auto d-block d-lg-none">
    <h1>Your screen is too small, please view on a larger screen</h1>
</div>


<div th:replace="fragments/footer :: footer">...</div>

</body>
<footer>
    <script>
        function updateEventListFragment() {
            $.post({
                url : "/event_list_fragment",
                data : $('filter').serialize(),
                dataType : "json",
                async : false,
                success : function (fragment) { // get from controller
                    $("#eventListFragment").replaceWith(fragment); // update snippet of page
                }
            });
        };
        setInterval(updateEventListFragment, 5000);
    </script>
</footer>
</html>