<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Events')">
</head>
<body>
<div class="d-flex bg-warning text-white" style="height:10vh">
    <div class="container-fluid pl-5 my-auto">
        <h1><a href="/" style="color:inherit">home</a> / dashboard</h1>
    </div>
</div>
<div class="d-flex" style="height:90vh">
    <div class="container-fluid pt-1">
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                    <th>ID:</th>
                    <td><span th:text="${event.getId()}"/></td>
                </tr>
                <tr>
                    <th>Date & Time</th>
                    <td><span th:text="${event.getDateTime()}"/></td>
                </tr>
                <tr>
                    <th>Source Address:</th>
                    <td><a th:href="@{'/events/sourceAddress/' + ${event.getSourceAddress()}}">
                        <span th:text="${event.getSourceAddress()}"/></a>
                    </td>
                </tr>
                <tr>
                    <th>Dest Adress:</th>
                    <td><a th:href="@{'/events/destAddress/' + ${event.getDestAddress()}}">
                        <span th:text="${event.getDestAddress()}"/></a></td>
                </tr>
                <tr>
                    <th>Protocol:</th>
                    <td><a th:href="@{'/events/protocol/' + ${event.getProtocol()}}">
                        <span th:text="${event.getProtocol()}"/></a></td>
                </tr>
                </tr>
                <tr>
                    <th>Dest Port:</th>
                    <td><a th:href="@{'/events/destPort/' + ${event.getDestPort()}}"><span
                            th:text="${event.getDestPort()}"/></a></td>
                </tr>
                <tr>
                    <th>Flag:</th>
                    <td><a th:href="@{'/events/flag/' + ${event.getFlag()}}">
                        <span th:text="${event.getFlag()}"/></a></td>
                </tr>
                <tr>
                    <th>Summary:</th>
                    <td><span th:text="${event.getSummary()}"/></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>