<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Events')">
</head>
<body>

<body>

<div class="d-flex flex-column bg-warning text-white" style="height:90vh">
    <div class="container p-5 text-center mx-auto my-auto yellow-hover">
        <h1 class="display-1">🍯</h1>
    </div>
    <div class="container text-center">
        <a href="#options-anchor" class="sliding-link" style="text-decoration:inherit; color:inherit"><h1>▼</h1></a>
    </div>
</div>

<div class="row text-warning mb-5 no-gutters" style="height:100vh">
    <div class="col-6">
        <a href="#info-anchor" class="sliding-link" style="color:inherit">
            <div class="d-flex justify-content-center duo-option" style="height:100%" id="options-anchor">
                <p class="my-auto">info</p>
            </div>
        </a>
    </div>
    <div class="col-6">
        <a href="/dashboard" style="color:inherit">
            <div class="d-flex justify-content-center duo-option" style="height:100%">
                <p class="my-auto">dashboard</p>
            </div>
        </a>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-md-4 col-8 py-5 mx-auto" id="info-anchor">
        <div class="card mx-auto my-5 text-center" data-aos="zoom-in">
            <div class="card-body">
                <h3 class="card-title">Welcome</h3>
                <h5 class="card-text">Our Honeypot as a Service is aimed at clients with lots of OT in their network.</p>
                <h5 class="card-text">Keep scrolling to find out how we can help protect you.</p>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4 col-8 py-5 offset-md-2 offset-2">
        <div class="card my-5 text-center" data-aos="fade-right">
            <div class="card-body">
                <h3 class="card-title">What is HaaS?</h3>
                <h5 class="card-text">An explanation of HaaS</p>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4 col-8 py-5 offset-md-6 offset-2">
        <div class="card my-5 text-center" data-aos="fade-left" >
            <div class="card-body">
                <h3 class="card-title">What will it look like?</h3>
                <h5 class="card-text">An explanation of what it will look like</p>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-10 col-md-7 mx-auto py-5">
        <div class="card mx-auto my-5 text-center" data-aos="zoom-in">
            <img class="card-img-top" th:src="@{/images/topology.png}" alt="Topology">
            <div class="card-body">
                <h3 class="card-title">What will it look like?</h3>
                <h5 class="card-text">An explanation of what it will look like</p>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4 col-8 py-5 offset-md-6 offset-2">
        <div class="card my-5 text-center" data-aos="fade-left">
            <div class="card-body">
                <h3 class="card-title">Pricing?</h3>
                <h5 class="card-text">An explanation of the pricing</p>
            </div>
        </div>
    </div>
</div>

<div class="container" style="height:10vh"></div>

<div class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Atkins & CyberFirst · 2019</span>
    </div>
</div>

<div th:replace="fragments/footer :: footer">...</div>

</body>

<footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 800
        });
    </script>
    <script>
        $(".sliding-link").click(function(e) {
            e.preventDefault();
            var aid = $(this).attr("href");
            $('html,body').animate({scrollTop: $(aid).offset().top},1500);
        });
    </script>

</footer>

</html>
